// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-menus {
  float: right;
  padding-right: 20px;
}


.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: black;
  padding-left: 15px;
}


main{
  text-align: center;
  background-color: blue;
  height: 300px;
}


ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


textarea{
  width: 300px;
}

.submit {
  height: 40px;
  width: 90px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding-bottom: 10px;
  background-color: gray;
}
